{% extends 'base.html.twig' %}
{% block main %}
        <main class="max-w-6xl mx-auto mt-5 lg:mt-5 space-y-6">
          {% for message in app.session.flashbag.get('success') %}
<div class="alert alert-success">
{{ message }}
</div>
{% endfor %}
     {% for message in app.session.flashbag.get('delete') %}
<div class="alert alert-danger">
{{ message }}
</div>
{% endfor %}
  {% for message in app.session.flashbag.get('added') %}
<div class="alert alert-success">
{{ message }}
</div>
{% endfor %}

     {% for message in app.session.flashbag.get('Update') %}
<div class="alert alert-info">
{{ message }}
</div>
{% endfor %}
            <div class="lg:grid lg:grid-cols-2">
               

               
            </div>

            <div class="lg:grid lg:grid-cols-3 lg:gap-4 ">
            
                
                {% for post in posts %}
                <article
                    class="  transition-colors duration-300 hover:bg-gray-100 border border-black border-opacity-0 hover:border-opacity-9 rounded-xl">
                    <div class="py-6 px-5">
                    
                        <div>
                            <img src="../images/{{post.Image}}" alt="Blog Post illustration" class="rounded-xl">
                        </div>

                        <div class="mt-8 flex flex-col justify-between">
                            <header>
                                

                                <div class="mt-4">
                                    <h1 class="text-3xl">
                                        {{post.Title}}
                                    </h1>

                                    <span class="mt-2 block text-gray-400 text-xs">
                                        Published <time>{{ post.getCreatedAt()|date('Y-m-d') }}</time>
                                    </span>
                                </div>
                            </header>

                            <div class="text-sm mt-4">
                                <p>
                                    {{post.Content}}
                                </p>

                                <p class="mt-4">
                                   {{post.summary}}
                            {% for comment in post.commentsUEMF %}
                            {{comment.content}}
                            {% endfor %}
                                </p>
                            </div>
                           

                            <footer class="flex justify-between items-center mt-8">
                               
                                <div>
                                    <a href="#"
                                       class="transition-colors duration-300 text-xs font-semibold bg-gray-200 hover:bg-gray-300 rounded-full py-2 px-8"
                                    >
                                        Read More
                                    </a>
                                </div>
                            </footer>
                        </div>
                    </div>
                </article>
                {% endfor %}
                
            </div>
        </main>
        {% endblock %}
